<div class="container">
  <div class="row">
    <div class="span10 offset1">
      <p class="lead" style="color: white;">Privacy Policy</p>

      <h1>Privacy Policy</h1>
      <h4>Effective Date: 04/24/2020</h4>
      Aviata LLC (Aviata, “We”, “Our”, “Us”) takes the security and privacy of the customer data entrusted to us very seriously. We commit to both securing data and respecting it by not giving it to others without user consent, or using it inappropriately. This privacy policy applies to www.aviatainc.com owned and operated by Aviata. This privacy policy describes how Aviata collects and uses the personal data you provide on our web site <a href="/" target="_blank">www.aviatainc.com</a> and our platform. It also describes the choices available to you regarding our use of your personal data and how you can access and update this information.

      Aviata participates in and has certified its compliance with the EU-U.S. Privacy Shield Framework and the Swiss-U.S. Privacy Shield Framework and to the rights of both EU and Swiss Individuals. We are committed to subjecting all personal data received from European Union (EU) and Swiss member countries, in reliance on the Privacy Shield Framework, to the Framework’s applicable Principles.  To learn more about the Privacy Shield Framework, visit the U.S. Department of Commerce’s Privacy Shield List, <a href="https://www.privacyshield.gov/list" target="_blank">https://www.privacyshield.gov/list</a>.

      Aviata is responsible for the processing of personal data it receives, under the Privacy Shield Framework, and subsequently transfers to a third party acting as an agent on its behalf. We comply with the Privacy Shield Principles for all onward transfers of personal data from the EU and Swiss, including the onward transfer liability provisions.

      With respect to personal data received or transferred pursuant to the Privacy Shield Framework, Aviata is subject to the regulatory enforcement powers of the U.S. Federal Trade Commission. In certain situations, Aviata LLC. may be required to disclose personal data in response to lawful requests by public authorities, including to meet national security or law enforcement requirements.

      In compliance with the Privacy Shield Principles, Aviata LLC. commits to resolve complaints about our collection or use of your personal information. EU individuals with inquiries or complaints regarding our Privacy Shield policy should first contact <em>Aviata LLC. </em>at: <a href="mailto:info@aviatainc.com">info@aviatainc.com</a>

      Aviata LLC has further committed to cooperate with EU data protection authorities (DPAs) and the Swiss Federal Data Protection and Information Commissioner (FDPIC) and to comply with the advice given by such authorities with regard to data transferred from the EU and Switzerland. If you do not receive timely acknowledgment of your complaint from us, or if we have not addressed your complaint to your satisfaction, please contact the EU DPAs or the Swiss FDPIC for more information or to file a complaint. The services of EU DPAs and Swiss FDPIC are provided at no cost to you. 

      Under certain conditions, more fully described on the Privacy Shield website, <a href="https://www.privacyshield.gov/article?id=How-to-Submit-a-Complaint" target="_blank">https://www.privacyshield.gov/article?id=How-to-Submit-a-Complaint</a>, you may invoke binding arbitration when other dispute resolution procedures have been exhausted.
      <h2>Types of Data and Collection Methods</h2>
      <span style="color: #333333;">Aviata collects data that its clients and customers actively submit “Actively Submitted Data” (registrations and surveys) as well as data collected from outer sources, “Passively Tracked Data.”  These are described as follows:</span>
      <ul>
        <li><em>Actively Submitted Data: </em>data collected via registration and survey completion, or otherwise manually entered on our servers, such as name, physical address, and email address.</li>
        <li><em>Passively Tracked Data: </em>data collected about your computer, device, connected peripherals, and internet connection when you access and respond to Aviata content, the dates and times of access, the internet address of web sites from which you link to or arrive at the site, the computer technology you’re using and your movements and preferences on our site and for our registration, messaging, and survey software. Unless you actively submit personal information such as your name and address in connection with Passively Tracked Data, Passively Tracked Data does not typically allow us to identify you personally.  To the extent permitted by applicable law, we reserve the right to combine Passively Tracked Data or data available via a third party with personal data that you choose to actively submit.</li>
      </ul>
      <h2>Collection Purposes and Data Usage</h2>
      <ul>
        <li>We collect Passively Tracked Data primarily to administer, protect, and improve our software, site, and systems, to better understand the preferences of our visitors, to compile aggregated (and anonymized) statistics to help create a better experience for our customers. We also use cookies and passively tracked data to ensure that we track unique actions.</li>
        <li>We collect Actively Submitted Data firstly for the purpose our customers originally sent it, e.g. for registrations, product and experience feedback, and to ensure they receive requested information, materials, service, and correspondence.  Secondly, we use these data to inform customers about our products and services subject to user communication preferences.</li>
      </ul>
      <h2>Cookies and Other Tracking Technologies</h2>
      Cookies and other similar technologies are used by Aviata and our partners, affiliates, or analytics or service providers. These technologies are used in analyzing trends, administering the site, tracking users’ movements around the site, and to gather demographic information about our user base as a whole.

      <span style="color: #333333;">You can remove persistent cookies by following directions provided in your Internet browser’s “help” directory (ex, http://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored). To manage Flash cookies, please click here: <a
          href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html"
          target="_blank">http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html</a>.</span>
      <h2>Log Files</h2>
      As is true of most web sites, we gather certain information automatically and store it in log files. This information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data. We do not link this automatically collected data to other information we collect about you.
      <h2>Disclosures of Personal Information</h2>
      Aviata won’t sell, rent, or share customer and client data to 3rd parties except in the following cases:
      <ul>
        <li>Sharing information with an affiliated company for reward redemption and incentive management. If you do not want us to share your personal information with these companies, contact us at <a href="mailto:info@aviatainc.com" target="_blank">info@aviatainc.com</a>.</li>
        <li>Engaging agents and service providers (i.e. data append, validation providers, marketing services) so they have access to data, but only to process such data on our behalf for purposes under confidentiality agreements.</li>
        <li>Sharing information as required by law or in the interest of protecting or exercising our or others’ legal rights, such as a request from law enforcement and in connection with court proceedings like a subpoena or for protecting your safety or the safety of others</li>
        <li>In certain situations, we may be required to disclose personal data in response to lawful requests by public authorities, including to meet national security or law enforcement requirements.</li>
        <li>Transferring information in connection with a prospective or actual sale, merger, transfer, other reorganization of all or parts of our business, or bankruptcy. You will be notified via email and/or a prominent notice on our web site of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information</li>
        <li>Using and disclosing data that is not personally identifiable or has been masked or anonymized.</li>
      </ul>
      Please Note: we do not control how our clients use the data we collect on their behalf.
      <h2>Third Party Data Collection through Our Site</h2>
      When one of our clients deploys our tools to collect response data from their customers through our software, it will receive and process any responses.  We will analyze these data at our client’s request and as otherwise permitted by this privacy policy. Aviata collects information under the direction of its clients, and has no direct relationship with the individuals whose personal data it processes. If you are registered with one of our clients and would no longer like to be contacted by one of them, please contact the client you interact with directly. We may transfer personal information to companies that help us provide our service. Transfers to subsequent third parties are covered by the service agreements with our clients.
      <h2>Co-branded Sites</h2>
      We may partner with third parties to provide co-branded sites. The displayed privacy policy on the co-branded site will apply to any personal information the customer may provide to that site. Any transfer of data between Aviata and its partners in the context of a co-branded site will be subject to the privacy policy displayed. For choice options with regards to use or sharing personal data please refer to the privacy policy displayed.
      <h2>Opt-Out</h2>
      In connection with promotions or other projects, Aviata may offer customers the opportunity to opt-out of certain types or methods of communication, including email. If you have previously subscribed to receive marketing / promotional emails from us, you can opt-out by clicking on the “unsubscribe” link included in our emails. Aviata will respect customer wishes in accordance with all legal statutes.
      <h2>Access to Information</h2>
      Upon request Aviata will provide you with information about whether we hold, or process on behalf of a third party, any of your personal information. If the personal information we have on file about you changes, or if you no longer desire our service, you may correct, update or amend your preferences by emailing our Customer Support at <a href="mailto:info@aviatainc.com">info@aviatainc.com</a>. We will respond to your request to access and modify your personal information within 30 days and allow you to specify changes via phone, email, or mail.
      <h2>Data Retention</h2>
      Aviata will retain customer and partner data for as long as accounts are active or as these data are otherwise needed for the delivery of services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements. We will, however, remove specific data upon request. You may request inaccurate information to be removed or deleted by emailing us at <a href="mailto:support@aviatainc.com">support@aviatainc.com</a> or by contacting us through any of our contact
      details below. We will respond to your request within 30 days.
      <h2>Access and Data Retention of Data Controlled by our Clients</h2>
      Aviata has no direct relationship with the individuals whose personal data it processes. An individual who seeks access, or who seeks to correct, amend, or delete inaccurate data should direct his query to Aviata’s client, the data controller. If the client requests Aviata to remove the data, we will respond to their request within 30 days. We will retain personal data we process on behalf of our clients for as long as needed to provide services to our client. Aviata will retain and use this personal information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
      <h2>Security</h2>
      The security of your personal data and the data we process on behalf of our clients is important to us. We follow generally accepted standards, such as secure socket layer (SSL) to protect the personal data submitted to us, both during transmission and once we receive it. However, no method of transmission over the Internet, or method of electronic storage is 100% secure. Therefore, we cannot guarantee its absolute security. If you have any questions about security on our web site, you can contact us at <a href="mailto:info@aviatainc.com">info@aviatainc.com</a>.
      <h2>Widgets</h2>
      Our web site includes social media features, such as the Facebook Like button and widgets, or interactive mini-programs that run on our site. These features may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the feature to function properly. Social media features and widgets are either hosted by a third party or hosted directly on our site. Your interactions with these features are governed by the privacy policy of the company providing it.
      <h2>Testimonials</h2>
      We display personal testimonials of satisfied customers on our site in addition to other endorsements. With your consent we may post your testimonial along with your name. If you wish to update or delete your testimonial, you can contact us at <a href="mailto:info@aviatainc.com">info@aviatainc.com</a>.
      <h2>Links to Other Web Sites</h2>
      Our site includes links to other web sites whose privacy practices may differ from those of Aviata. If you submit personal information to any of those sites, your information is governed by their privacy policies. We encourage you to carefully read the privacy policy of any web site you visit.
      <h2>Changes to this Policy</h2>
      We may update this privacy policy to reflect changes to our data practices. If we make any material changes we will notify you by email or by means of a notice on our site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.
      <h2>Contact Us</h2>
      If you have questions or concerns about this privacy policy, you may contact us at: Aviata LLC. <a href="mailto:info@aviatainc.com">info@aviatainc.com</a>
      <div class="span3" style="float: left; margin-top: 20px;"></div>
    </div>
  </div>
</div>